<!-- A modified Bootstrap carousel for cases -->
<div id="customcarousel" class="carousel slide" data-ride="carousel">
  <a href="#content" class="carousel__scroll">
    <div class="downbutton">
      <span class="downbutton__button"></span>
      <span class="downbutton__arrow"></span>
    </div>
  </a>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('images/Walibi.jpg')">
      <div class="carousel-caption d-block d-md-block">
        <div class="carousel-wrapcenter">
          <h3 class="Lato__Black">WALIBI</h3>
          <div class="carousel-control-wrappper">
            <a href="#customcarousel" role="button" data-slide="prev">
              <div class="carousel-control-float">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url('images/arrow-left.png')"></span>
                <span class="sr-only">Previous</span>
              </div>
            </a>
            <a class="button button--case">View Case</a>
            <a href="#customcarousel" role="button" data-slide="next">
              <div class="carousel-control-float">
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url('images/arrow-right.png')"></span>
                <span class="sr-only">Next</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('images/Oxxio.png')">
      <div class="carousel-caption d-block d-md-block">
        <div class="carousel-wrapcenter">
          <h3 class="Lato__Black">OXXIO</h3>
          <div class="carousel-control-wrappper">
            <a href="#customcarousel" role="button" data-slide="prev">
              <div class="carousel-control-float">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url('images/arrow-left.png')"></span>
                <span class="sr-only">Previous</span>
              </div>              
            </a>
            <a class="button button--case">View Case</a>
            <a href="#customcarousel" role="button" data-slide="next">
              <div class="carousel-control-float">
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url('images/arrow-right.png')"></span>
                <span class="sr-only">Next</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('images/Florensis.jpg')">
      <div class="carousel-caption d-block d-md-block">
        <div class="carousel-wrapcenter">
          <h3 class="Lato__Black">FLORENSIS</h3>
          <div class="carousel-control-wrappper">
            <a href="#customcarousel" role="button" data-slide="prev">
              <div class="carousel-control-float">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url('images/arrow-left.png')"></span>
                <span class="sr-only">Previous</span>
              </div>
            </a>
            <a class="button button--case">View Case</a>
            <a href="#customcarousel" role="button" data-slide="next">
              <div class="carousel-control-float">
                <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url('images/arrow-right.png')"></span>
                <span class="sr-only">Next</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>