<div class="contact">
    <title class="contact__title Lato__Black">WE WOULD LOVE TO HEAR FROM YOU</title>
    <div class="form-success">
        <div class="form-success__icon">
            <img class="form-success__icon__img" src="images/check-icon-white.png"/>   
        </div> 
        <p class="form-success__text Lato_Light">Thank you, we have received your message.</p>
    </div>
    <form name="form" class="form Lato_Light">
        <div class="form__wrapper">
            <div class="form__wrapper__field">
                <input  id="id1" class=" form__wrapper__field__input form__wrapper__field__input--required" type="text" name="firstname" required placeholder="First name" />
            </div>
            <div class="form__wrapper__field">
                <input class=" form__wrapper__field__input form__wrapper__field__input--required" type="text" name="lastname" required placeholder="Last name">
            </div>
            <div class="form__wrapper__field">
                <input  class="form__wrapper__field__input form__wrapper__field__input--required" type="email" name="email"  required placeholder="Your e-mail address">
            </div>
            <div class="form__wrapper__field">
                <input  class="form__wrapper__field__input" type="tel" name="phonenumber" placeholder="Your phone number (optional)">
            </div>
            <div class="form__wrapper__field form__wrapper__field--textarea">
                <textarea  class="form__wrapper__field__input form__wrapper__field__input--message" type="text" name="message" placeholder="Your message..."></textarea>
            </div>
        </div>
        <input class="button button--send" type="submit" value="Send">
    </form> 
</div>