<div id="content" class="content">
    <div class="content__centered">
        <p class="content__title Lato__Black">WE ARE TAM TAM</p>
        <p class="content__text Lato__Light">Tam Tam is a full service digital agency focusing on Dutch Digital Service Design. We combine strategy, design, technology and interaction to make the digital interactions between company and customer valuable and memorable. We work for awesome brands with a team of 120 digitals from our office in Amsterdam. Making great work and having a blast doing it. That’s what we believe in. </p>
    </div>
</div>
