<div class="instafeed" style="background-image: url('images/Feed_bg.jpg')">
    <title class="instafeed__title Lato__Black">FOLLOW US ON INSTAGRAM</title>
    <a href="https://www.instagram.com/tamtamnl/">
        <subtitle class="instafeed__subtitle Lato__Light">@ tamtamnl</subtitle>
    </a>
    <div class="instafeed__wrapper">
        <a href="https://www.instagram.com/p/82_jz-n8NN/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/1.jpg" />
                <p class="instapost__tags Lato__Light">Last Thursday emerce organised their own ADE and we were part of it! Where are you gonna party tonight? #ADE#tbt
                    #enight #tamtam</p>
            </div>
        </a>
        <a href="https://www.instagram.com/p/80PWtnn8IW/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/2.jpg" />
                <p class="instapost__tags Lato__Light">We're feeling happier and happier thanks to these nice dutch flowers we received from Florensis! #holland
                    #flowers #doordebloemenofficenietmeerzien #settingthebloemetjesoutside</p>
            </div>
        </a>
        <a href="https://www.instagram.com/p/8yKW1MH8KW/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/3.jpg" />
                <p class="instapost__tags Lato__Light">We are VERY VERY happy with our Silver Lovie Award and People's Lovies Winner for the Docters without borders
                    website! #lovies #tamtamhome #proud #celebration</p>
            </div>
        </a>
        <a href="https://www.instagram.com/p/8nol3-H8Mr/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/4.jpg" />
                <p class="instapost__tags Lato__Light">Thanks @radio538 and @maxpinas for bringing us friday beats with our brand new #marshall speakers! #friyay
                    #gift #speaker #tamtamhome</p>
            </div>
        </a>
        <a href="https://www.instagram.com/p/8mvGyan8AN/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/5.jpg" />
                <p class="instapost__tags Lato__Light">Friyay! Coffee anyone? #almostweekend #tamtamhome #koffiemax #latteart</p>
            </div>
        </a>
        <a href="https://www.instagram.com/p/8kUn68H8PF/?taken-by=tamtamnl">
            <div class="instapost">
                <img class="instapost__img" src="images/6.jpg" />
                <p class="instapost__tags Lato__Light">TamTam Talks Search Edition! First edition with our new colleagues from Expand Online👌💪🏻 #tamtamhome #tttalks
                    #breakfast #search</p>
            </div>
        </a>
    </div>
</div>