<div class="menumobile">
    <div class="menumobile__wrapcenter">
        <!-- <a href="index.html" class="menumobile__item {% if page_id == "Index" %} link--active{% endif %}">Home</a>
        <a href="" class="menumobile__item {% if page_id == "People" %} link--active{% endif %}">People</a>
        <a href="contact.html" class="menumobile__item {% if page_id == "Contact" %} link--active{% endif %}">Contact</a> -->
        <ul class="list list--mobile">
            <li class="list__item list__item--mobile">
                <a href="index.html" class="list__item__link {% if page_id == "Index" %} list__item__link--active{% endif %}">Home</a>
            </li>
            <li class="list__item list__item--mobile">
                <a href="#" class="list__item__link {% if page_id == "People" %} list__item__link--active{% endif %}">People</a>
            </li>
            <li class="list__item list__item--mobile">
                <a href="contact.html" class="list__item__link{% if page_id == "Contact" %} list__item__link--active{% endif %}">Contact</a>
            </li>
        </ul>
    </div>
</div>